@import 'assets/styles/colors.scss';

$card-border-radius: 10px;

@mixin transition($seconds) {
  -webkit-transition: all $seconds ease-out;
  -moz-transition: all $seconds ease-out;
  -o-transition: all $seconds ease-out;
  transition: all $seconds ease-out;
}

.card {
  background-color: $white;
  display: flex;
  border-radius: $card-border-radius;
  box-shadow: 0px 20px 30px transparentize($grayish-blue, 0.9),
              2px 40px 30px transparentize($grayish-blue, 0.9);
  max-width: 730px;

  .article-img {
    width: 109%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      filter: saturate(102%) brightness(108%) contrast(90%);
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }
  }

  & article {
    padding: 34px 40px 32px;

    & header {
      margin-bottom: 11px;

      & h1 {
        color: $dark-grayish-blue;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: .2px;
        line-height: 1.4;
      }
    }

    & .article-content {
      margin-bottom: 20px;
      & p {
        color: $desaturated-dark-blue;
      }
    }

    & footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      & .author-photo img{
        border-radius: 50%;
      }

      & .info {
        display: flex;

        & .publish-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;

          & .author {
            color: $dark-grayish-blue;
            font-weight: 700;
          }

          & .time {
            color: $grayish-blue;
          }
        }

      }

      & .share {
        position: relative;
        display: flex;
        justify-content: center;

        & button {
          $button-dimension: 32px;

          display: flex;
          align-items: center;
          justify-content: center;
          width: $button-dimension;
          height: $button-dimension;
          border: none;
          border-radius: 50%;
          background-color: $light-grayish-blue;
          @include transition(.3s);
          z-index: 5;

          & img {
            padding-bottom: 1px;
          }

          &.focused {
            background-color: $desaturated-dark-blue;

            & img  {
              fill: $white;
            }
          }
        }

        & .tooltip {
          position: absolute;
          top: -82px;
          background-color: $dark-grayish-blue;
          color: $white;
          padding: 17px 38px;
          border-radius: $card-border-radius;
          display: flex;
          align-items: center;
          visibility: hidden;
          opacity: 0;
          @include transition(.5s);
          z-index: 1;

          &.active {
            visibility: visible;
            opacity: 1;
          }

          &::after {
            $triangle-size: 11px;

            content: '';
            position: absolute;
            bottom: calc(-#{$triangle-size} + 1px);
            left: calc(50% - #{$triangle-size});
            border-left: $triangle-size solid transparent;
            border-right: $triangle-size solid transparent;
            border-top: $triangle-size solid $dark-grayish-blue;
          }

          & span {
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $grayish-blue;
          }

          & .social {
            display: flex;
             & a {
                margin-left: 16px;
             }
          }

        }
      }
    }
  }

}

// - Media query
@media (max-width: 720px) {
  .card {
    flex-direction: column;
    max-width: 327px;

    .article-img {
      width: 100%;
      height: 200px;

      & img {
        object-position: center;
        border-radius: $card-border-radius $card-border-radius 0 0;
      }
    }

    & article {
      padding: 36px 33px 20px;
      position: relative;

      & header {
        margin-bottom: 13px;
        & h1 {
          font-size: 16px;
          line-height: 1.5;
        }
      }

      & .article-content {
        margin-bottom: 31px;
      }

      & footer {
        align-items: flex-end;
        & .share {
          position: static;
          & .tooltip {
            padding: 25px 36px;
            top: unset;
            bottom: 0;
            left: 0;
            width: 100%;
            border-radius: 0 0 $card-border-radius $card-border-radius;

            &::after {
              display: none;
            }
          }
        }
      }


    }


  }
}
