@import './reset.scss';
@import './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
  background-color: $light-grayish-blue;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 43px); // 100% viewport height minus footer's height
}
